libpecos ~= 1.2.5
transformers ~= 4.45.1
torch ~= 2.4.1
bconv ~=1.2.1
obonet ~=1.1.0
rapidfuzz ~= 3.10.0
scipy ~= 1.14.1
pandas ~= 2.2.3
numpy ~= 2.1.1
tqdm ~= 4.66.5

#Optional: install wandb to monitor model training
wandb
networkx~=3.3
