cachetools==5.5.0
click==8.1.7
cloudpickle==3.1.0
cuda-python==12.6.1
cudf-cu12==24.10.1
cuml-cu12==24.10.0
cupy-cuda12x==13.3.0
cuvs-cu12==24.10.0
dask==2024.9.0
dask-cuda==24.10.0
dask-cudf-cu12==24.10.1
dask-expr==1.1.14
distributed==2024.9.0
distributed-ucxx-cu12==0.40.0
fastrlock==0.8.2
fsspec==2024.10.0
Jinja2==3.1.4
joblib==1.4.2
libcudf-cu12==24.10.1
libucx-cu12==1.17.0
libucxx-cu12==0.40.0
llvmlite==0.43.0
locket==1.0.0
markdown-it-py==3.0.0
MarkupSafe==3.0.2
mdurl==0.1.2
msgpack==1.1.0
nltk==3.9.1
numba==0.60.0
numpy==2.0.2
nvidia-cublas-cu12==12.6.3.3
nvidia-cufft-cu12==11.3.0.4
nvidia-curand-cu12==10.3.7.77
nvidia-cusolver-cu12==11.7.1.2
nvidia-cusparse-cu12==12.5.4.2
nvidia-nvjitlink-cu12==12.6.77
nvtx==0.2.10
packaging==24.1
pandas==2.2.2
partd==1.4.2
psutil==6.1.0
pyarrow==17.0.0
Pygments==2.18.0
pylibcudf-cu12==24.10.1
pylibraft-cu12==24.10.0
pynvjitlink-cu12==0.4.0
pynvml==11.4.1
python-dateutil==2.9.0.post0
pytz==2024.2
PyYAML==6.0.2
raft-dask-cu12==24.10.0
rapids-dask-dependency==24.10.0
regex==2024.9.11
rich==13.9.4
rmm-cu12==24.10.0
scikit-learn==1.5.2
scipy==1.14.1
six==1.16.0
sortedcontainers==2.4.0
tblib==3.0.0
threadpoolctl==3.5.0
toolz==1.0.0
tornado==6.4.1
tqdm==4.66.6
treelite==4.3.0
typing_extensions==4.12.2
tzdata==2024.2
ucx-py-cu12==0.40.0
ucxx-cu12==0.40.0
urllib3==2.2.3
zict==3.0.0
